
<%= link_to "New Article",  new_authors_article_path, class: 'btn btn-md btn-info' %>
<br/><br/>

<h1> My Articles </h1>
<br/>



<div class="row">
	<table class="table table-striped">
		<tr>
			<th colspan="4">Title</th>
		</tr>
		<% @articles.each do |article| %>
		<tr>
			<td>
				<%= article.title %>
			</td>
			<td>
				<%= link_to "Read More",  authors_article_path(article), class: 'btn btn-sm btn-primary' %>
			</td>
			<td>
				<%= link_to "Edit",  edit_authors_article_path(article), class: 'btn btn-sm btn-warning' %>
			</td>
			<td>
				<%= link_to "Delete",  authors_article_path(article), method: :delete,
									data: {confirm: 'Are you sure want to delete?'},
									class: 'btn btn-sm btn-danger' %>

			</td>
		</tr>
		<% end %>

	</table>
</div>

